<%- include('partials/header') %>

<main class="page-layout">

    <h1><%= title %></h1>

    <p class="page-intro">
        Browse service opportunities by category.
    </p>

    <section class="categories-nav">
        <% categories.forEach(category => { %>
            <a href="/category/<%= category.category_id %>" class="category-pill" data-category="<%= category.category_id %>">
                <%= category.name %>
            </a>
        <% }); %>
    </section>
    <section class="card-grid">
    </section>  

</main>

<%- include('partials/footer') %>