<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

 <form action="/edit-category/<%= categoryDetails.category_id %>" method="POST">
    <div class="form-group">
      <label for="name">Category Name</label>
      <input
        type="text"
        id="name"
        name="name"
        maxlength="150"
        required
         value="<%= categoryDetails ? categoryDetails.name : '' %>"
      />
    </div>

    <button type="submit">Update Category</button>

</main>
<%- include('partials/footer') %>