<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <section class="card-grid">

            <% organizations.forEach(organization => { %>
                <a href="/organization/<%= organization.organization_id %>">
                    <p class="card organization-info">
                        <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                        <strong><%= organization.name %></strong>: <%= organization.contact_email %>
                    </p>
                </a>
            <% }); %>
        </section>
    </main>

<%- include('partials/footer') %>