<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        
        <p>Here are a few of our partner organizations:</p>
        <section class="card-grid">

            <% organizations.forEach(organization => { %>
                <p class="card organization-info"><img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo"><strong><%= organization.name %></strong>: <%= organization.contact_email %></p>
            <% }); %>
        </section>
    </main>

<%- include('partials/footer') %>