<%- include('partials/header') %>

<main class="page-layout">

    <h1><%= title %></h1>

    <p class="page-intro">
        Explore upcoming opportunities to serve and strengthen your community.
    </p>

    <section class="card-grid">

            

    <% projects.forEach(project => { %>
        <p class="card project-info">
            <strong><%= project.date.toLocaleDateString() %></strong>: <%= project.title %> 
            <br><i><%= project.organization_name %></i></p>
    <% }); %>


    </section>

</main>

<%- include('partials/footer') %>