<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2><%= projectDetails.title %></h2>
    <h2>Description: </h2>
        <p><%= projectDetails.description %></p>
    <h3>Date:</h3>
    <p><%= projectDetails.date.toLocaleDateString() %></p>
    <h3>Location:</h3>
    <p><%= projectDetails.location %></p>
    <h3>Organization:</h3>
    <p><a href="/organization/<%= projectDetails.organization_id %>"><%= projectDetails.organization_name %></a></p>
    <% if (user && user.role_name === 'admin') { %>
        <a href="/edit-project/<%= projectDetails.project_id %>">Edit Project</a>
    <% } %>
    <h3>Categories:</h3>    
    <section class="categories-nav">
        <% projectCategories.forEach(category => { %>
            <a href="/category/<%= category.category_id %>" class="category-pill" data-category="<%= category.category_id %>">
                <%= category.name %>
            </a>
        <% }); %>
    </section>
    <% if (user && user.role_name === 'admin') { %>
    <a href="/assign-categories/<%= projectDetails.project_id %>">Edit Categories</a>
    <% } %>
</main>
<%- include('partials/footer') %>